
.buttonText {
    display: flex;
  
    flex-direction: row;
    align-items: center;
    font-size: 2vw;
   
}
@media screen and (min-width: 700px) {
    .buttonText {
        font-size: 1vw;
    }
}