.timerContainer {
    position: relative;
    display: flex;
    flex-flow: column ;
    justify-content:center;
    align-items: center;
    padding: 1rem; 
    text-align: center;
    font-weight: bold;
}
  
.timerCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: black;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    
    background: radial-gradient(
        circle,
        white 0 60%,
        rgb(63, 205, 153) 60% 90%,
        rgb(255, 255, 255) 90% 100%
      );
}
  
.timerText {
    font-size: 2rem;
}

.timerContainer p {
    color: black;
}