.container {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    flex-direction: row;
    background: white;
    /* background: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25)); */
    /* border: 1px solid black; */
}

.dataStats {
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

.deleteButton {
    justify-content: flex-start;
    /* align-items: center; */
    /* transform: scale(0.5); */
}