.container {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    flex-direction: row;
    border: 1px solid black;
}

.dataStats {
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

.deleteButton {
    justify-content: flex-start;
    /* align-items: center; */
    /* transform: scale(0.5); */
}