.chart-container {
    /* height: 50px; */
    
}
.chart-container h1 {
    font-size: medium;
    text-align: center;
    /* font-family: "Lato" ; */
}

.actions {
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-top: 5px;
    /* justify-content: space-around; */
}

.actions  label {
    margin-left: 10px;
    margin-right: 10px;
}


