@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');


.container ul {
    flex: 1;
    flex-direction: column-reverse;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

