.app {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #141B2C;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.border {
  position: relative;
  background-color: #EFF2F5;
  padding: 0.5rem;
  height: 100%;
}

.container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, minmax(0, 1fr))
}

.container > div {
  padding: 10px;
}

.listData {
  background: #FAFAFA;
  overflow: scroll;
  height: 30rem;
  margin-bottom: 1rem;
}

.rightContainer {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: repeat(auto, minmax(0, 1fr));
}
.leftContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: repeat(auto, minmax(0, 1fr));
}

.timerContainer {

}
.chart {
  position: relative;
  grid-row: 2/ span 4;
}

@media  screen and (min-width: 800px) {
  .border {
    padding: 2rem;
  }
  .container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .leftContainer {
    grid-column: 1/ span 3;
  }
  .rightContainer {
    grid-column: 4/ span 2;
  }
}