.app {
  height: 100%;
  width: 100%;
  /* width: 100vw; 
  height: 100vh; */
  background-color: #EFF2F5;
  padding-top: 24px;
}


.border {
  position: relative;
  padding: 0.5rem;
  height: 100%;
  width: 100%;
}

.container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.container > div {
  padding: 10px;
}

.listDataContainer {
  position: relative;
  /* margin-bottom: 1rem; */
  
}

.listData {
  overflow: scroll;
  height: 20rem;
}

.statistics {
  overflow: scroll;
  height: 30rem;
}

.rightContainer {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: repeat(auto, minmax(0, 1fr));
  grid-template-rows: 0.8fr 1fr;
  row-gap: 2rem;
}

.leftContainer {
  position: relative;
  display: grid;
  grid-template-rows: 1fr minmax(0.8fr, 300px);
  grid-template-columns: repeat(1, minmax(0, 1fr));
  row-gap: 2rem;
  /* grid-template-rows: repeat(auto, minmax(0, 1fr)); */
}

@media  screen and (min-width: 800px) {
  .border {
    padding: 2rem;
  }
  .leftContainer, .rightContainer {
    row-gap: 2rem;
  }

  .container {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
  }
}