.app {
  height: 100%;
  width: 100%;
  min-width: 100%; 
  min-height: 100vh;
  background-color: #111322;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.border {
  position: relative;
  padding: 0.5rem;
  height: 100%;
  width: 100%;
}

.container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, minmax(0, 1fr))
}

.container > div {
  padding: 10px;
}

.listData {
  /* background: #FAFAFA; */
  overflow: scroll;
  height: 45vh;
  margin-bottom: 1rem;
}


.barChart {
  /* min-height: 1000px; */
}

.rightContainer {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: repeat(auto, minmax(0, 1fr));
}
.leftContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  /* grid-template-rows: repeat(auto, minmax(0, 1fr)); */
}

.timerContainer {

}
.chart {
  position: relative;
  grid-row: 1/ span 4;
}

@media  screen and (min-width: 800px) {
  .border {
    padding: 2rem;
  }
  .app {
    /* position: fixed; */
  }
  .container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .leftContainer {
    grid-column: 1/ span 3;
  }
  .rightContainer {
    grid-column: 4/ span 2;
  }
}