
.buttonText {
    display: flex;
  
    flex-direction: row;
    align-items: center;
    /* font-size: 1.5vw; */
   
}
@media screen and (max-width: 700px) {
    .buttonText {
        font-size: 2vw;
    }
}